<div class="d-flex justify-content-center w-100 my-5">
  <div class="d-flex flex-column faq-container w-75 p-5 bg-white rounded">
    <div class="align-self-center text-extra-large text-red">{{'FREQUENTLY_ASKED_QUESTIONS' | translate}}</div>

    <div class="text-large mt-5 font-weight-bold">{{'WHO_CAN_START_PROJECTS_ON_CROWSPACE' | translate}}</div>
    <div class="mt-4"><li>{{'A_CITIZEN_OF_ANY_COUNTRY_OLDER_THAN_18_YEARS_OLD_WITH_A_VALID_BANK_ACCOUNT' | translate}}</li></div>
    <div class="mt-3"><li>{{'INDIVIDUAL_ENTREPRENEUR_OR_LEGAL_ENTITY_REGISTERED_IN_THE_MANNER_PRESCRIBED_BY_LAW' | translate}}</li></div>

    <div class="text-large mt-5 font-weight-bold">{{'WHAT_PROJECTS_ARE_ACCEPTED_FOR_CONSIDERATION_ON_CROWSPACE' | translate}}</div>
    <div class="mt-4">
        {{'CROWSPACE_PRESENTS_PROJECTS_FROM_VARIOUS_FIELDS' | translate}}
        <a class="text-red"
           routerLink="/rules">{{'THE_RULES' | translate}}</a>.
    </div>

    <div class="text-large mt-5 font-weight-bold">{{'WHAT_PROJECTS_ARE_NOT_ACCEPTED_FOR_CONSIDERATION_ON_CROWSPACE' | translate}}</div>
    <div class="mt-4"><li>{{'PURSUING_A_PERSONAL_GOAL' | translate}}</li></div>
    <div class="mt-3"><li>{{'HAVING_AS_THEIR_MAIN_GOAL_FUNDRAISING_FOR_ADVERTISING_AND_PROMOTION' | translate}}</li></div>
    <div class="mt-3"><li>{{'POLITICAL_ACTIVITIES' | translate}}</li></div>
    <div class="mt-3"><li>{{'RELATED_TO_RELIGIOUS_ACTIVITIES' | translate}}</li></div>
    <div class="mt-3"><li>{{'CONTRARY_TO_THE_MORAL_AND_ETHICAL_STANDARDS_OF_SOCIETY' | translate}}</li></div>
    <div class="mt-3"><li>{{'CONTRARY_TO_THE_LEGISLATION_OF_THE_REPUBLIC_OF_BELARUS' | translate}}</li></div>
    <div class="mt-3"><li>{{'PLACED_ON_A_SIMILAR_RESOURCE' | translate}}</li></div>
    <div class="mt-3">
      <li>
        {{'NOT_CORRESPONDING_TO_THE_GOALS_AND_OBJECTIVES_OF_OUR_SERVICE_DEFINED_IN' | translate}}
        <a class="text-red"
           routerLink="/rules">{{'THE_RULES_OF_OUR_SERVICE' | translate}}</a>.
      </li>
    </div>
    <div class="mt-3">{{'CROWSPACE_HAS_THE_RIGHT_TO_REFUSE' | translate}}</div>

  </div>
</div>
