<div class="d-flex justify-content-center w-100 my-5">
  <div class="d-flex flex-column contacts-container w-75 p-5 bg-white rounded">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <div class="main-text text-large font-weight-bold mb-3 text-red">
          {{'AUTO_INFORMATOR' | translate | uppercase}}
        </div>
        <div>
          +375 (33) 181 05 05
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="main-text text-large font-weight-bold mb-3 text-red">
          {{'THE_ACTUAL_ADDRESS' | translate | uppercase}}
        </div>
        <div class="d-flex flex-column text-medium">
          <div>BC "Sirius Park",</div>
          <div>Minsk, Kashirskoye highway,</div>
          <div>Building 3, 6th Floor</div>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="main-text text-large font-weight-bold mb-3 text-red">
          {{'OUR_DETAILS' | translate | uppercase}}
        </div>
        <div class="d-flex flex-column text-medium">
          <div>Limited company Global</div>
          <div>Networks Responsibility</div>
          <div>OGRN 1104379818385</div>
          <div>TIN 3252324252</div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-4">
      <div class="d-flex flex-column">
        <div class="main-text text-large font-weight-bold mb-3 text-red">
          {{'MAILING_ADDRESS' | translate | uppercase}}
        </div>
        <div class="d-flex flex-column text-medium">
          <div>GLOBAL NETWORKS LLC,</div>
          <div>115230, Minsk, PO Box 351</div>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="main-text text-large font-weight-bold mb-3 text-red">
          {{'LEGAL_ADDRESS' | translate | uppercase}}
        </div>
        <div class="d-flex flex-column text-medium">
          <div>115230, Belarus, Minsk,</div>
          <div>Kashirskoye Shosse,</div>
          <div>Building 9, Room 613</div>
        </div>
      </div>
    </div>
  </div>
</div>
