<div class="d-flex justify-content-center w-100 my-5">
  <div class="d-flex flex-column terms-container w-75 p-5 bg-white rounded">
    <div class="align-self-center text-extra-large text-red">{{'USER_AGREEMENT_OF_THE_SERVICE_PROMOTION' | translate}}</div>
    <div class="mt-5">{{'WE_ARE_GLAD_TO_WELCOME' | translate}}</div>

    <div class="text-large mt-5 font-weight-bold">1. {{'RULES_FOR_THE_PROJECT_ORGANIZER' | translate}}</div>
    <div class="mt-4">1.1 {{'THE_PROJECT_ORGANIZER_GUARANTEES_THE_FOLLOWING' | translate}}</div>
    <div>{{'HE_HAS_ALL_THE_NECESSARY_POWERS' | translate}}</div>
    <div>{{'HE_MADE_THE_NECESSARY_AND_SUFFICIENT' | translate}}</div>
    <div>{{'THE_ACTIONS_PROPOSED_FOR_IMPLEMENTATION' | translate}}</div>
    <div>{{'THERE_ARE_ALL_NECESSARY_AND_SUFFICIENT_RIGHTS' | translate}}</div>
    <div>{{'ALL_INFORMATION_PROVIDED_FOR_THE_TRANSFER' | translate}}</div>
    <div>{{'THE_INFORMATION_POSTED_ON_THE_PAGES' | translate}}</div>
    <div>{{'INFORMATION_ABOUT_USERS_RECEIVED' | translate}}</div>
    <div>1.2 {{'THE_PROJECT_ORGANIZER_IS_OBLIGED_TO_PROVIDE_THE_SERVICE' | translate}}</div>
    <div>1.3 {{'THE_PROJECT_ORGANIZER_IS_OBLIGED_TO_PROVIDE_THE_USERS' | translate}}</div>
    <div>1.4 {{'THE_PROJECT_ORGANIZER_IS_OBLIGED_TO_FULFILL' | translate}}</div>
    <div>1.5 {{'THE_PROJECT_ORGANIZER_GUARANTEES_THAT_IN_CASE_OF_IMPROPER' | translate}}</div>
    <div>1.6 {{'THE_SERVICE_ORGANIZER_HAS_THE_RIGHT_TO_PLACE' | translate}}</div>

    <div class="text-large mt-5 font-weight-bold">2. {{'RULES_FOR_THE_USER' | translate}}</div>
    <div class="mt-4">2.1 {{'THE_USER_GUARANTEES_THE_FOLLOWING' | translate}}</div>
    <div>{{'HE_HAS_ALL_THE_NECESSARY_POWERS_AND_LEGAL_CAPACITY' | translate}}</div>
    <div>{{'WHEN_PARTICIPATING_IN_THE_PROMOTION' | translate}}</div>
    <div>{{'THE_ORGANIZER_OF_THE_PROJECT_HAS_BEEN_PROVIDED' | translate}}</div>
    <div>2.2 {{'IF_IT_IS_IMPOSSIBLE_FOR_THE_USER_TO_COMPLY' | translate}}</div>
    <div>2.3 {{'THE_PROJECT_ORGANIZER_AND_OR_SERVICE_ORGANIZER' | translate}}</div>
    <div>2.4 {{'THE_USER_WHO_PARTICIPATED_IN_THE_FINANCING' | translate}}</div>
    <div>2.5 {{'THE_USER_WHO_HAS_PARTICIPATED_IN_THE_FINANCING' | translate}}</div>

    <div class="text-large mt-5 font-weight-bold">3. {{'FINAL_PROVISIONS' | translate}}</div>
    <div class="mt-4">3.1 {{'ALL_ISSUES_NOT_RESOLVED_IN_THIS_AGREEMENT_ARE_GOVERNED' | translate}}</div>
  </div>
</div>
