.card-shadow{
  box-shadow: 0 0.5rem 0.5rem rgba(37,73,89,.1);
}

.disabled-link.active-link{
  background-color: white;
  margin-top: 0;
  font-weight: bold;
}

.disabled-link{
  background-color: #d2d2d2;
  margin-top: 0.25rem;
  outline: none;
  border-radius: 0.25rem 0.25rem 0 0;
}

.content-container{
  border-radius: 0 0 0.25rem 0.25rem;
}
