.video-content{
  height: 30rem;
}

.box-create-campaign{
  border-left: 0.5rem solid #5a1c1c;
  background-color: rgba(108, 95, 95, 0.1);
}

.box-rules {
  background-color: rgba(108, 95, 95, 0.1);;
}

.funding-container{
  box-shadow: 0 3px 4px rgba(37,73,89,.1);
}
